* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
}

h1 {
    text-align: center;
    color: white;
}

.manga-reader {
    width: 600px;
    margin: 0 auto;
}

.manga-image {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.logo {
    width: 60px;
    height: 60px;  
    object-fit: contain;
    border-radius: 50%; 
    background-color: blue;
}

header  {
    background-color: #3f3e3e;
    display: flex;
}

footer {
    text-align: center;
    color: white;
}

.about-us {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    background: rgb(114, 86, 33);
    border-radius: 15px;
}

.about-us h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
}

.responsive-title {
    font-size: 28px;
}

.responsive-text {
    font-size: 14px;
}


@media (min-width: 768px) {

    .responsive-title {
        font-size: 38px;
    }

    .responsive-text {
        font-size: 18px;
    }

}


@media (min-width: 992px) {

    .responsive-title {
        font-size: 52px;
    }

    .responsive-text {
        font-size: 22px;
    }

}

header .navbar {
    width: 100%;
}

header .navbar-collapse {
    flex-grow: 0;
}