body {
    background-image: url("../src/background_for_anime_website.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.manga-reader {
    width: 800px;
    margin: 0 auto;
}

.manga-reader img {
    display: block;
    width: 100%;
    height: auto;
}

header  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header a{
    display: inline-block;
    text-decoration: none;
    color: pink;
    padding: 10px;
}

main.Bleach_manga a{
    width: 100%;
    display: grid;
    color: pink;
    size: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 10px;
    margin: 0 auto;
}

.profile{
    justify-self: right;
}

footer {
    display: block;
    text-decoration: none;
    color: pink;
    padding: 10px;
}


