body.oregairu {
    background-image: url("../src/R.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.anime-collections {
    background-image: url("../src/168847-anime-anime_devushka-anime_art-multfilm-druzya_anime_braziliya-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}